@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Roboto+Slab:wght@400;700&family=Space+Mono:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.circular-progress circle:first-of-type {
  r: 14.5;
}

.input-number::-webkit-inner-spin-button,
.input-number::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

.input-number {
  appearance: none;
  -moz-appearance: textfield;
}
